<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>group_name</key>
		<string>空间</string>
		<key>condition_key</key>
		<string>space_id</string>
		<key>condition_list</key>
		<array>
            <dict>
                <key>id</key>
                <integer>3</integer>
                <key>name</key>
                <string>空间</string>
                <key>icon</key>
                <string>https://i.jiajuol.com/store/611/000/je3p2D38IhtXrxTRhYkh.png</string>
            </dict>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>name</key>
				<string>客厅</string>
				<key>icon</key>
				<string>https://i.jiajuol.com/store/611/000/je3p2D38IhtXrxTRhYkh.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>4</integer>
				<key>name</key>
				<string>卧室</string>
				<key>icon</key>
				<string>https://i.jiajuol.com/store/612/000/YEnngbXvmPJ6FW9LjnVe.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>6</integer>
				<key>name</key>
				<string>餐厅</string>
				<key>icon</key>
				<string>https://i.jiajuol.com/store/614/000/vFwA7c12rV918RDCBciB.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>41</integer>
				<key>name</key>
				<string>影音室</string>
				<key>icon</key>
				<string>https://i.jiajuol.com/store/622/000/JYfewVp5DawX0vsioOHB.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>42</integer>
				<key>name</key>
				<string>健身房</string>
				<key>icon</key>
				<string>https://i.jiajuol.com/store/623/000/kbk3Rqk4LzGulGy3YSqE.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>43</integer>
				<key>name</key>
				<string>走廊</string>
				<key>icon</key>
				<string>https://i.jiajuol.com/store/624/000/3H88cjYbg3zypugG40Pg.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>44</integer>
				<key>name</key>
				<string>休闲室</string>
				<key>icon</key>
				<string>https://i.jiajuol.com/store/625/000/dRd010T3G3ojiGu8Rcfx.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>7</integer>
				<key>name</key>
				<string>厨房</string>
				<key>icon</key>
				<string>https://i.jiajuol.com/store/615/000/a27dw14sd9hTBY9MYgFM.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>37</integer>
				<key>name</key>
				<string>卫生间</string>
				<key>icon</key>
				<string>https://i.jiajuol.com/store/620/000/xNyuFODCzQ35wjV5GVka.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5</integer>
				<key>name</key>
				<string>书房</string>
				<key>icon</key>
				<string>https://i.jiajuol.com/store/613/000/Cg7wzX70qljR7KbKlhjX.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>10</integer>
				<key>name</key>
				<string>门厅</string>
				<key>icon</key>
				<string>https://i.jiajuol.com/store/617/000/dOifaO2K23Xc5RcUiz2r.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>14</integer>
				<key>name</key>
				<string>儿童房</string>
				<key>icon</key>
				<string>https://i.jiajuol.com/store/618/000/boULljLArWuxxpaE3RSd.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>8</integer>
				<key>name</key>
				<string>阳台</string>
				<key>icon</key>
				<string>https://i.jiajuol.com/store/616/000/QTuEuOFYKeCk4jGJiA60.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>40</integer>
				<key>name</key>
				<string>外景</string>
				<key>icon</key>
				<string>https://i.jiajuol.com/store/621/000/IBPFECmid1vDhlXARRoG.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>20</integer>
				<key>name</key>
				<string>衣帽间</string>
				<key>icon</key>
				<string>https://i.jiajuol.com/store/619/000/huDJlqHEucM3ZUHFyUOm.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>45</integer>
				<key>name</key>
				<string>茶室</string>
				<key>icon</key>
				<string>https://i.jiajuol.com/store/626/000/3HZqqh9sbaztgfaUw7S5.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>风格</string>
		<key>condition_key</key>
		<string>style_id</string>
		<key>condition_list</key>
		<array>
            <dict>
                <key>id</key>
                <integer>27</integer>
                <key>name</key>
                <string>风格</string>
                <key>icon</key>
                <string>http://icon.carimg.com/photo/style/xiandaijy.png</string>
            </dict>
			<dict>
				<key>id</key>
				<integer>27</integer>
				<key>name</key>
				<string>现代</string>
				<key>icon</key>
				<string>http://icon.carimg.com/photo/style/xiandaijy.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>34</integer>
				<key>name</key>
				<string>简约</string>
				<key>icon</key>
				<string>http://icon.carimg.com/photo/style/xiandaijy_2.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>name</key>
				<string>欧式</string>
				<key>icon</key>
				<string>http://icon.carimg.com/photo/style/oushi.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>16</integer>
				<key>name</key>
				<string>田园</string>
				<key>icon</key>
				<string>http://icon.carimg.com/photo/style/tianyuan.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>19</integer>
				<key>name</key>
				<string>混搭</string>
				<key>icon</key>
				<string>http://icon.carimg.com/photo/style/hunda.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>name</key>
				<string>中式</string>
				<key>icon</key>
				<string>http://icon.carimg.com/photo/style/zhongshi.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>9</integer>
				<key>name</key>
				<string>地中海</string>
				<key>icon</key>
				<string>http://icon.carimg.com/photo/style/dizhonghai.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>28</integer>
				<key>name</key>
				<string>新古典</string>
				<key>icon</key>
				<string>http://icon.carimg.com/photo/style/xingudian.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>30</integer>
				<key>name</key>
				<string>美式</string>
				<key>icon</key>
				<string>http://icon.carimg.com/photo/style/meishi.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>31</integer>
				<key>name</key>
				<string>东南亚</string>
				<key>icon</key>
				<string>http://icon.carimg.com/photo/style/hanshi.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>32</integer>
				<key>name</key>
				<string>日式</string>
				<key>icon</key>
				<string>http://icon.carimg.com/photo/style/rishi.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>33</integer>
				<key>name</key>
				<string>北欧</string>
				<key>icon</key>
				<string>http://icon.carimg.com/photo/style/beiou.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>色系</string>
		<key>condition_key</key>
		<string>color_id</string>
		<key>condition_list</key>
		<array>
            <dict>
                <key>id</key>
                <integer>17</integer>
                <key>name</key>
                <string>色系</string>
                <key>icon</key>
                <string></string>
                <key>rgb</key>
                <integer>16163005</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>17</integer>
				<key>name</key>
				<string>粉色</string>
				<key>icon</key>
				<string></string>
				<key>rgb</key>
				<integer>16163005</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>18</integer>
				<key>name</key>
				<string>褐色</string>
				<key>icon</key>
				<string></string>
				<key>rgb</key>
				<integer>12024169</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>19</integer>
				<key>name</key>
				<string>淡黄</string>
				<key>icon</key>
				<string></string>
				<key>rgb</key>
				<integer>16770180</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>20</integer>
				<key>name</key>
				<string>紫色</string>
				<key>icon</key>
				<string></string>
				<key>rgb</key>
				<integer>11703295</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>21</integer>
				<key>name</key>
				<string>蓝色</string>
				<key>icon</key>
				<string></string>
				<key>rgb</key>
				<integer>7519231</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>22</integer>
				<key>name</key>
				<string>绿色</string>
				<key>icon</key>
				<string></string>
				<key>rgb</key>
				<integer>8971614</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>23</integer>
				<key>name</key>
				<string>黑色</string>
				<key>icon</key>
				<string></string>
				<key>rgb</key>
				<integer>3092271</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>24</integer>
				<key>name</key>
				<string>白色</string>
				<key>icon</key>
				<string></string>
				<key>rgb</key>
				<integer>16777215</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>25</integer>
				<key>name</key>
				<string>灰色</string>
				<key>icon</key>
				<string></string>
				<key>rgb</key>
				<integer>10066329</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>26</integer>
				<key>name</key>
				<string>红色</string>
				<key>icon</key>
				<string></string>
				<key>rgb</key>
				<integer>16738665</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>27</integer>
				<key>name</key>
				<string>橙色</string>
				<key>icon</key>
				<string></string>
				<key>rgb</key>
				<integer>16746298</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>28</integer>
				<key>name</key>
				<string>黄色</string>
				<key>icon</key>
				<string></string>
				<key>rgb</key>
				<integer>16300123</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>56</integer>
				<key>name</key>
				<string>驼色</string>
				<key>icon</key>
				<string></string>
				<key>rgb</key>
				<integer>11438181</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>57</integer>
				<key>name</key>
				<string>米色</string>
				<key>icon</key>
				<string></string>
				<key>rgb</key>
				<integer>15718566</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>局部</string>
		<key>condition_key</key>
		<string>section_id</string>
		<key>condition_list</key>
		<array>
            <dict>
                <key>id</key>
                <integer>36</integer>
                <key>name</key>
                <string>局部</string>
                <key>icon</key>
                <string></string>
            </dict>
			<dict>
				<key>id</key>
				<integer>36</integer>
				<key>name</key>
				<string>照片墙</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>37</integer>
				<key>name</key>
				<string>吊顶</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>38</integer>
				<key>name</key>
				<string>楼梯</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>39</integer>
				<key>name</key>
				<string>飘窗</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>40</integer>
				<key>name</key>
				<string>背景墙</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>41</integer>
				<key>name</key>
				<string>榻榻米</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>44</integer>
				<key>name</key>
				<string>隔断</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>45</integer>
				<key>name</key>
				<string>窗帘</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>46</integer>
				<key>name</key>
				<string>酒柜</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>49</integer>
				<key>name</key>
				<string>门窗</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>50</integer>
				<key>name</key>
				<string>吧台</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>57</integer>
				<key>name</key>
				<string>墙面</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>58</integer>
				<key>name</key>
				<string>地面</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>59</integer>
				<key>name</key>
				<string>玄关</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>60</integer>
				<key>name</key>
				<string>灯饰</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>61</integer>
				<key>name</key>
				<string>书柜</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>62</integer>
				<key>name</key>
				<string>橱柜</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>63</integer>
				<key>name</key>
				<string>盥洗区</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>64</integer>
				<key>name</key>
				<string>衣柜</string>
				<key>icon</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
